@import '../../App.scss';

.purchasedBookList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 100%;
    margin-top: 40px;
    gap: 20px;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        width: 200px;
        height: 300px;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 0 12px #0000001f;

        img {
            width: 180px;
            height: 180px;
        }
    }

    &__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__button {
        a {
            border: 0;
            border-radius: 7px;
            width: 128px;
            height: 44px;
            padding: 12px;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            background-color: #1677FF;
            outline: none;
            color: #fff;
            
            transition: all .2s ease-in-out;

            &:hover {
                background-color: #0d7adf;
                box-shadow: 0 0 12px #005eff77;
            }
        }
    }
}

@include breakpoint(medium) {
    .purchasedBookList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include breakpoint(small) {
    .purchasedBookList {
        grid-template-columns: repeat(1, 1fr);
    }
}