.commentItem {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px #00000013;
    padding: 12px;
    margin-bottom: 32px;
    &__commentOwner {
        display: flex;
        align-items: center;
        gap: 12px;
        img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
        }
    }

    &__about {
        display: flex;
        justify-content: space-between;
    }
    &__commentRating {
        display: flex;
    }

    p {
        text-indent: 23px;
    }
}