.books {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            outline: none;
            border: 0;
            background-color: #0084FF;
            color: #fff;
            padding: 17px;
            font-weight: 600;
            font-size: 14px;
            text-decoration: none;
            border-radius: 7px;

            cursor: pointer;

            transition: background-color .2s ease-in-out;

            &:hover {
                background-color: #0084ffc1;
            }
        }
    }
}