@import '../../App.scss';

.basket {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 25px;
    margin-top: 40px;


    h2 {
        grid-column-start: 3 span;
    }

    &__basketBookList {
        grid-column-start: 2 span;
    }
}

@include breakpoint(medium) {
    .basket {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        margin: 0;

        h2 {
            grid-column-start: 3 span;
        }

        &__basketBookList {
            grid-column-start: 3 span;
        }
    }
}