.prevButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    background-color: dodgerblue;
    height: 50px;
    width: 80px;
    margin-top: 20px;
    outline: none;
}